<div id="help" data-role="page">
	<div data-role="header">
		<div id="menu-button" class="header-button left icon-menu"></div>
		<div class="title"><span class="icon-support"></span>Aide</div>
	</div>
	<div data-role="content">

	</div>
</div>