<div id="{{id}}" class="message-widget error absolute-center is-fixed" style="background-color: {{backgroundColor}}" data-closable="true">
    <div class="message">
        {{#message}}<p>{{{message}}}</p>{{/message}}
        {{^message}}<p>Oups... nous rencontrons momentanément des difficultés.</p><p>Merci de réessayer ultérieurement.</p>{{/message}}
    </div>
</div>
