<div id="{{id}}" class="message-widget absolute-center is-fixed" style="background-color: {{backgroundColor}}">
    <div class="message">
        <p>Merci d'utiliser l'application Nuborn.</p>
        <p>Malheureusement, vous devez être connecté au réseau pour profiter de votre lecteur de news favoris.</p>
    </div>
</div>
