# common
**.DS_Store
**.sublime-workspace
.sass-cache/
node_modules/
docs/
gen/

# web
build/web/

# android
build/android/assets/www/
build/android/gen/
build/android/out/

# ios
build/ios/www/
build/ios/**xcodeproj
build/ios/build/
