# common
**.DS_Store
**.sublime-workspace
.sass-cache/
node_modules/
docs/docco/gen
docs/jsduck/gen
gen/
**.off

# web
build/web/

# android
build/android/assets/www/
build/android/gen/
build/android/out/
build/android/build/
build/android/.gradle/

# ios
build/ios/www/
build/ios/build/
