<div id="home" data-role="page">
	<div data-role="header">
        <div id="menu-button" class="header-button left icon-menu"></div>
		<div id="refresh-button" class="header-button right icon-repeat"></div>
		<div class="title"><span class="icon-home"></span>Accueil</div>
	</div>
	<div data-role="content">
	</div>
</div>