<div id="home" data-role="page">
	<div data-role="header">
		<div id="menu-button" class="header-button left icon-menu"></div>
		<div class="title"><span class="icon-home"/>Accueil</div>
	</div>
	<div data-role="content">
		<div id="carousel" data-role="swipe">
			<div id="carousel-wrapper" data-role="swipe-wrapper">
			</div>
		</div>
		<div id="news">
		</div>
	</div>
</div>