/**
 * @provide detail
 * @require mixins
 */
 #detail {
    [data-role=content] {
        width: 100vw;
        height: 100vh;
        background-image: url('../img/under-construction-sign.jpg');
        background-size: contain;
        background-repeat: no-repeat;
    }
}