<div id="element-overlay" class="hidden">
    <div class="container">
        <div class="spinner-container">
            <!-- Spinner : cssload.net -->
            <!-- <div class="spinner floatingCirclesG">
                <div class="f_circleG frotateG_01"></div>
                <div class="f_circleG frotateG_02"></div>
                <div class="f_circleG frotateG_03"></div>
                <div class="f_circleG frotateG_04"></div>
                <div class="f_circleG frotateG_05"></div>
                <div class="f_circleG frotateG_06"></div>
                <div class="f_circleG frotateG_07"></div>
                <div class="f_circleG frotateG_08"></div>
            </div> -->
            <div class="spinner windows8">
                <div class="wBall" id="wBall_1">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div class="wBall" id="wBall_2">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div class="wBall" id="wBall_3">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div class="wBall" id="wBall_4">
                    <div class="wInnerBall">
                    </div>
                </div>
                <div class="wBall" id="wBall_5">
                    <div class="wInnerBall">
                    </div>
                </div>
            </div>
            <!-- /Spinner -->
            <div class="title" data-wording-key="loading"></div>
        </div>
    </div>
</div>