<div id="settings" data-role="page">
	<div data-role="header">
		<div id="menu-button" class="header-button left icon-menu"></div>
		<div class="title"><span class="icon-cogs"/>Paramètres</div>
	</div>
	<div data-role="content">
        <ul>
            <li>
                <div>Activer les animations</div>
                <input id="animate" type="checkbox" class="switch" data-icon1="&#9679;" data-icon2="&#9679;" />
            </li>
        </ul>
	</div>
</div>