/**
* @provide app.widgets.splashscreen
* @require mixins
* @require core
*/

#splash
{
  z-index: 1100;
  text-align: center;
  vertical-align: middle;

  // background-color: $darkBackground;
  background-image: url("../img/darkdenim3.png");
  color: $textColor;

  & > div {
    @include mq(smartphone){
      height: 8rem;
    }
    @include mq(tablet){
      height: 12rem;
    }
    @include mq(desktop){
      height: 16rem;
    }
  }

  h1 {

    display: inline-block;
    letter-spacing: .2em;
    position: relative;

    font: {
      family: "Champagne";
      weight: 900;
      variant: small-caps;
    }
    @include mq(smartphone){
      font-size: 3rem;
    }
    @include mq(tablet){
      font-size: 5rem;
    }
    @include mq(desktop){
      font-size: 7rem;
    }

    &:first-letter {
      display: block;
      padding:0  .2em;
      letter-spacing: 0;
      @include mq(smartphone){
        font-size: 3.3rem;
      }
      @include mq(tablet){
        font-size: 5.3rem;
      }
      @include mq(desktop){
        font-size: 7.3rem;
      }
      font-weight: 900;
      color: $red;
    }

    &::after {
      content: attr(data-content);
    }

  }
}

@import "compass/css3/transform";

@include keyframes(scaleIn) {
  0% { @include transform(scaleY(0)); }
  50% { @include transform(scaleY(0)); }
  100% { @include transform(scaleY(1)); }
}

.csstransforms3d.animationfriendly #splash h1 {
  @include animation(scaleIn 2s);
}
