/**
 * @provide settings
 * @require mixins
 */

#settings {

    li {
        padding: 2 * $padding;
        border-bottom: 1px solid #CCC;
        color: $softBlack;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }
}

.flexbox #settings {

     li {
        display: flex;
        align-items: center;
        justify-content: justify;

        width: 100%; // needed for Firefox
        text-align: justify;

        & > div {
            z-index: 998;
            flex: 1;
        }
        & > .switch {
            margin-left: auto;
        }
    }
}

.no-flexbox #settings {

    li {
        text-align: left;
        display: table;
        width: 100%;

        & > div {
            display: table-cell;
            vertical-align: middle;
        }
        & > .switch {
            display: inline-block;
            vertical-align: middle;
            float: right;
        }
    }
}