/**
 * @provide app
 *
 * @require mixins
 * @require Typography
 */

/*************************** DEFAULTS ***************************/

$background : #424242;
$darkBackground : #212121;
$red: #e23343;
$textColor: white;

html * {
	font-family: "Roboto", "Helvetica", "Arial";

	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;

	@include vendorize(box-sizing, border-box);

}

input, textarea {
	-moz-user-select: text;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
}

[data-role=header]{
	height: 44px;
	border-color: #111;
	border-bottom: 1px solid;
	background-color: $background;

	.title{
		color: white;
		line-height: 44px;
		text-align: center;
		font-size: 1.3rem;
		font-weight: 400;
		// font-family: Roboto;
	}

	.menu-button{
		float: left;
		height: 100%;
		width: 44px;

		border-color: #111;
		border-right: 1px solid;

		&.pressed{
			background-color: $background;
		}

		@include background("menu-button", center, center, 40px, 44px);
	}

	.back-button{
		float: left;
		height: 100%;
		width: 44px;

		border-color: #111;
		border-right: 1px solid;

		&.pressed{
			background-color: $background;
		}

		@include background("back-button", center, center, 40px, 44px);
	}
}

[data-role=content]{
	background-color: white;
	padding: 0px;
}
