/**
 * @provide app
 *
 * @require mixins
 */

 /*************************** TYPOGRAPHY ***************************/

// Typography "Roboto"
// @import url(http://fonts.googleapis.com/css?family=Roboto:400,300,900);

@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 300;
  src: local('Roboto Light'), local('Roboto-Light'), url('../fonts/Hgo13k-tfSpn0qi1SFdUfbO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Regular'), local('Roboto-Regular'), url('../fonts/CrYjSnGjrRCn0pd9VQsnFOvvDin1pK8aKteLpeZ5c0A.woff') format('woff');
}
@font-face {
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 900;
  src: local('Roboto Black'), local('Roboto-Black'), url('../fonts/mnpfi9pxYH-Go5UiibESIrO3LdcAZYWl9Si6vvxL-qU.woff') format('woff');
}

// Typography "Roboto Condensed".
// @import url(http://fonts.googleapis.com/css?family=Roboto+Condensed:400,300,700);

// Typography "Lato"
// @import url(http://fonts.googleapis.com/css?family=Lato:400,900);

// Typography "Droid Serif"
// @import url(http://fonts.googleapis.com/css?family=Droid+Serif:400,700);



/*************************** DEFAULTS ***************************/

/**
 * @var
 * Tungsten color.
 */
$background : #424242;

/**
 * @var
 * Lead color.
 */
$darkBackground : #212121;

/**
 * @var
 * Default text color.
 */
$textColor: white;

html * {
	font-family: "Roboto";

	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;

	@include vendorize(box-sizing, border-box);

}

// body {
// 	-webkit-transition: -webkit-filter 0.5s ease-in;
// 	-webkit-filter: blur(0px) brightness(100%);
// 	-webkit-transform: translateZ(0);
// }

input, textarea {
	-moz-user-select: text;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
}

[data-role=header]{
	height: 44px;
	border-color: #111;
	border-bottom: 1px solid;
	@include linear-gradient($background, $darkBackground);

	.title{
		color: white;
		line-height: 44px;
		text-align: center;
		font-size: 1.3rem;
		font-weight: 900;
	}

	.menu-button{
		float: left;
		height: 100%;
		width: 44px;

		border-color: #111;
		border-right: 1px solid;

		&.pressed{
			background-color: $darkBackground;
		}

		@include background("menu-button", center, center, 40px, 44px);
	}

	.back-button{
		float: left;
		height: 100%;
		width: 44px;

		border-color: #111;
		border-right: 1px solid;

		&.pressed{
			background-color: $darkBackground;
		}

		@include background("back-button", center, center, 40px, 44px);
	}
}

[data-role=content]{
	background-color: white;
	padding: 0px;
}
