/**
 * @provide app
 *
 * @require mixins
 */

/**
 * @var
 * Tungsten color.
 */
$background : #424242;

/**
 * @var
 * Lead color.
 */
$background-dark : #212121;

html * { 
	font-family: "Helvetica";

	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;

	@include vendorize(box-sizing, border-box);

}

// body {
// 	-webkit-transition: -webkit-filter 0.5s ease-in;
// 	-webkit-filter: blur(0px) brightness(100%);
// 	-webkit-transform: translateZ(0);
// }

input, textarea {
	-moz-user-select: text;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
}

[data-role=header]{
	height: 44px;
	border-color: #111;
	border-bottom: 1px solid;
	@include linear-gradient($background, $background-dark);
	
	.title{
		color: white;
		line-height: 44px;
		text-align: center;
		font-size: 1.5em;
	}

	.menu-button{
		float: left;
		height: 100%;
		width: 44px;

		border-color: #111;
		border-right: 1px solid;

		&.pressed{
			background-color: $background-dark;
		}

		@include background("menu-button", center, center, 40px, 44px);
	}

	.back-button{
		float: left;
		height: 100%;
		width: 44px;

		border-color: #111;
		border-right: 1px solid;

		&.pressed{
			background-color: $background-dark;
		}

		@include background("back-button", center, center, 40px, 44px);
	}
}

[data-role=content]{
	background-color: white;
	padding: 0px;
}
