<nav id="{{id}}" class="menu">
    <ul>
        <li><a id="home-menu-item" class="menu-item" href="#home"><span class="icon-home"/>Accueil</a></li>
		<li><a id="profile-menu-item" class="menu-item" href="#profile"><span class="icon-users"/>Profil</a></li>
        <li><a id="settings-menu-item" class="menu-item" href="#settings"><span class="icon-cogs"/>Paramètres</a></li>
        <li><a id="legal-notices-menu-item" class="menu-item" href="#legalNotices"><span class="icon-info"/>Mentions légales</a></li>
        <li><a id="help-menu-item" class="menu-item" href="#help"><span class="icon-question"/>Aide</a></li>
    </ul>
</nav>