/**
 * @provide splashscreen
 * @require mixins
 */

#splash {
	background-color: #293541;
	@include background("splashscreen.logo", 0, 0, 223px, 64px);
	background-position: center;
	z-index:2000;
	opacity: 1;
}