/**
* @provide splashscreen
* @require mixins
*/

$color: rgba(255,255,255,1);

@include keyframes(fade-in) {
  from { text-shadow: 0 0 1em $color; }
  to { text-shadow: 0 0 0 $color; }
}

#splash {

  background-color: $darkBackground;
  color: $textColor;

  h1 {
    @include animation(fade-in, 2s);
    color: transparent;
    display: inline-block;
    font: {
      family: sans-serif;
      size: 2.5rem;
      weight: bold;
    }
    letter-spacing: .2em;
    position: relative;

    &:first-letter {
      display: block;
      box-shadow: 0 0 0 0.1em $color;
      padding:0  .2em;
      letter-spacing: 0;
      margin-right: .2em;
    }
  }
}
