/**
 * @provide home
 * @require mixins
 */

[data-role=swipe] {
	overflow: hidden;
	visibility: hidden;
	position: relative;
}

[data-role=swipe-wrapper] {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}

[data-role=swipe-card], [data-role=swipe-wrapper] > div {
	float: left;
	width: 100%;
	height: 100%;
	position: relative;
	background-position: center;
	background-size: cover;
}

#carousel{
	width: 100%;
	height: 150px;

	.card{
		overflow: hidden;
		position: relative;
		width:100%;
		height: 100%;
		border-radius: 5px;
		box-shadow: #333 0px 0px 5px;
		background-color: $background;
		background-position: center 26%;
		background-size: cover;
	}

	.title{
		width: 100%;
		position: absolute;
		bottom: 0;
		color: white;
		background-color: rgba(0,0,0, 0.6);
		padding: 10px;
		border-bottom-left-radius: 5px;
		border-bottom-right-radius: 5px;

	}
}

#carousel-wrapper > div {
	padding : 5px;
}

#news {
	div.header {
		color: #333;
		text-shadow: #EEE 0px 1px;
		text-align: center;
		text-overflow: ellipsis;
		white-space: nowrap;
		overflow: hidden;
		padding-left: 10px;
		padding-right: 10px;
		padding: 1px;
		border-top: 1px solid;
		border-bottom: 1px solid;
		border-color: #969696;
		@include linear-gradient(#e8e8e8, #a7a7a7);
	}

	li {
		padding: 5px;
		background-color: $softWhite;
		padding: 5px;
		overflow: hidden;
		border-bottom: 1px solid;
		border-color: #BBB;
		background-position: right center;
		background-repeat: no-repeat;
		background-size: 25px 20px;

		background-image: url("../img/list-arrow.png");
		@include mq(retina){
			background-image: url("../img/list-arrow@2x.png");
		};

		&:active {
			background-color: $selected;
		}

		div {
			padding-left: 5px;
			padding-right: 25px;

			overflow: hidden;
			text-overflow: ellipsis;
			white-space: nowrap;

			&.thumbnail {
				width: 50px;
				height: 50px;
				border-radius: 5px;
				border: 1px solid;
				border-color: #a7a7a7;
				background-size: cover;
				background-position: center;
				float: left;

				background-color: $background;
			}

			&.title {
				color: #333;
				font-size: 0.95rem;
				line-height: 1.7rem;
			}

			&.subtitle {
				color: rgb(99, 97, 95);
				font-size: 0.8rem;

				overflow: hidden;
				text-overflow: ellipsis;
				white-space: nowrap;
			}
		}
	}
}
