<nav id="{{id}}" class="menu">
    <ul>
        <li id="home-menu-item" class="menu-item"><span class="icon-home"/></li>
		<li id="profile-menu-item" class="menu-item"><span class="icon-user"/></li>
        <li id="settings-menu-item" class="menu-item"><span class="icon-cog"/></li>
        <li id="legal-notices-menu-item" class="menu-item"><span class="icon-info"/></li>
        <li id="help-menu-item" class="menu-item"><span class="icon-question"/></li>
    </ul>
    <div class="overlay"/>
</nav>