<ul>
	{{#items}}
		<li data-news-id="{{id}}">
			<div class="thumbnail" style="background-image:url('{{image}}')"></div>
			<div class="title">{{title}}</div>
			<div class="subtitle">{{date}}</div>
		</li>
	{{/items}}
</ul>