@mixin basicLoader($width:1rem, $thichness:2px){
    display: inline-block;
    width: $width;
    height: $width;
    border: solid $thichness;
    border-color: $softBlack transparent;
    border-radius: 50%;
    animation: rotate 1s ease-in-out infinite;
    vertical-align: middle;
}

.animationfriendly .basic-loader {
    @include basicLoader();
}