/**
 * @provide core
 *
 * @require mixins
 * @require classes
 * @require icons
 * @require imports
 * @require vars
 */

/*************************** DEFAULTS ***************************/

html * {
	font-family: "Roboto", "Helvetica", "Arial";
	@include vendorize(user-select, none);
}

input, textarea {
	@include vendorize(user-select, text);
}

li:nth-child(even) {
    background-color: rgba(black,.1);
}
li:nth-child(odd) {
    background-color: rgba(white,.1);
}

[data-role=page] {
	background-image: url("../img/bg.png");
}

[data-role=header]{
	background-image: url("../img/darkdenim3.png");
	color: $textColor;
	height: $headerHeight;
	line-height: $padding * 6;
	z-index: 1000;
	position: relative;

	// @include transition(all .2s);

	// &.fixed {
		// position: absolute;
		// top:0; right: 0; left: 0;
	// }

	.title{
		text-align: center;
		font-size: 1.3em; // don't use rem here as this font size should be dependent on the header bar font size which can vary.
		font-weight: 400;
		// font-family: Roboto;
		line-height: 2.3em;
	}

	.header-button {
		// color: $textColor;
		font-size: 1.6em; // don't use rem here as this font size should be dependent on the header bar font size which can vary.
		padding: 0 $padding;
		line-height: 1.8em;
		position: absolute;

		&:active{
			color: $red;
		}

		&.left {
			float: left;
		}

		&.right {
			float: right;
		}
	}

	.menu-button{
		@extend .header-button;
	}

	.back-button{
		@extend .header-button;
	}

	.forward-button{
		@extend .header-button;
	}
}

[data-role=content] {
	padding: 0px;
	z-index: 998;
	position: relative;
	// @include transition(top .2s);
	// overflow-y: scroll;
	// -webkit-overflow-scrolling: touch;

	// &.fixed {
		// position: absolute;
		// top: $headerHeight;
		// bottom: 0; left: 0; right: 0;
	// }
}