/**
 * @provide core
 *
 * @require mixins
 * @require classes
 * @require icons
 * @require imports
 * @require vars
 */

/*************************** DEFAULTS ***************************/

html * {
	font-family: "Roboto", "Helvetica", "Arial";
	user-select: none;
}

input, textarea {
	user-select: text;
}

[data-role=page] {
}

html.ios-7 [data-role=header] {
	height: $iOS7HeaderHeight !important;
	padding-top: 1rem;
}

html[class*=ios] [data-role=header] {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	width: 100%;
}

[data-role=header] {

	background-color: rgba(white,0.8);
	background-image: none;
	color: $softBlack;
	border-bottom: 1px solid #CCC;

	height: $headerHeight;
	line-height: $headerHeight;
	z-index: 1000;
	position: relative;

	.title{
		text-align: center;
		font-size: 1.3em; // don't use rem here as this font size should be dependent on the header bar font size which can vary.
		font-weight: 400;
		line-height: 2.3em;
	}

	.header-button {
		font-size: 1.6em; // don't use rem here as this font size should be dependent on the header bar font size which can vary.
		padding: 0 $padding;
		line-height: 1.8em;
		position: absolute;
		color: $blue;

		&:active{
			color: black;
		}

		&.left {
			float: left;
		}

		&.right {
			float: right;
		}
	}

	.menu-button{
		@extend .header-button;
	}

	.back-button{
		@extend .header-button;
	}

	.forward-button{
		@extend .header-button;
	}
}

html.ios-7 [data-role=content] {
	padding-top: $iOS7HeaderHeight !important;
}

html[class*=ios] [data-role=content] {
	padding-top: $headerHeight;
	// overflow-y: scroll;
	-webkit-overflow-scrolling: touch;
}

[data-role=content] {
	padding: 0px;
	z-index: 998;
	position: relative;
}