/**
 * @provide core
 *
 * @require mixins
 * @require classes
 * @require icons
 * @require imports
 * @require vars
 */

/*************************** DEFAULTS ***************************/

html * {
	font-family: "Roboto", "Helvetica", "Arial";

	-webkit-user-select: none;
	-moz-user-select: -moz-none;
	-ms-user-select: none;
	user-select: none;

	@include vendorize(box-sizing, border-box);
}

input, textarea {
	-moz-user-select: text;
}

ul{
	padding: 0;
	margin: 0;
}

li{
	list-style: none;
}

[data-role=header]{
	height: $headerHeight;
	line-height: $padding * 6;
	// border-color: #111;
	// border-bottom: 1px solid;
	// background-color: $background;
	background-image: url("../img/darkdenim3.png");
	position: absolute;
	top:0; right: 0; left: 0;
	@include transition(all .2s);

	&.mini {
		height: $headerHeight/2;
		line-height: $headerHeight/2;
		font-size: .5rem;
	}

	.title{
		color: $textColor;
		text-align: center;
		font-size: 1.3em; // don't use rem here as this font size should be dependent on the header bar font size which can vary.
		font-weight: 400;
		// font-family: Roboto;
		line-height: 2.3em;
	}

	.header-button {
		color: $textColor;
		font-size: 1.6em; // don't use rem here as this font size should be dependent on the header bar font size which can vary.
		padding: 0 $padding;
		line-height: 1.6em;
		position: absolute;

		&:active{
			color: $red;
		}

		&.left {
			float: left;
		}

		&.right {
			float: right;
		}
	}

	.menu-button{
		@extend .header-button;
	}

	.back-button{
		@extend .header-button;
	}

	.forward-button{
		@extend .header-button;
	}
}

[data-role=content] {
	padding: 0px;
	position: absolute;
	top: $headerHeight;
	bottom: 0; left: 0; right: 0;
	@include transition(top .2s);

	&.mini {
		top: $headerHeight/2;
	}
}

#menu{
	background-color: $soft-white;

	li {
		height: 44px;
		line-height: 44px;
		border-bottom: 1px solid;
		border-bottom-color: rgb(177,176,172);
		padding: 0 10px;
		color: rgb(73,73,73);

		li:before {
			padding-right: 10px;
			line-height: 45px;
		}

		&:active {
			background-color: $cell-pressed;
		}

		background-position: left center;
		background-repeat: no-repeat;
		background-size: 25px 25px;
		background-origin: content-box;
		text-indent: 30px;

		&.home{
			background-image: url("../img/home.png");
			@include mq(retina){
				background-image: url("../img/home@2x.png");
			};
		}

		&.profile{
			background-image: url("../img/profile.png");
			@include mq(retina){
				background-image: url("../img/profile@2x.png");
			};
		}

		&.settings{
			background-image: url("../img/settings.png");
			@include mq(retina){
				background-image: url("../img/settings@2x.png");
			};
		}

		&.help{
			background-image: url("../img/help.png");
			@include mq(retina){
				background-image: url("../img/help@2x.png");
			};
		}

	}

	.ui-panel-inner{
		padding: 0;
	}
}
