
/**
 * @provide effects
 * @require imports
 */

//////////////////////////////////////// Fade animations //////////////////////////////////////////

// hide
@keyframes fade-out {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.no-animationfriendly .fade-out {
    opacity: 0;
}
.csstransforms3d.animationfriendly .fade-out {
    animation: fade-out 1s forwards;
}


// show
@keyframes fade-in {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.no-animationfriendly .fade-in {
    opacity: 1;
}
.csstransforms3d.animationfriendly .fade-in {
    animation: fade-in .3s forwards;
}

//////////////////////////////////////// Scale animations //////////////////////////////////////////

// squeeze
@keyframes squeeze {
    0%{
        transform: scale(1,1);
    }
    50%{
        transform: scale(1.1,1);
    }
    100% {
        transform: scale(1,1);
    }
}
.squeeze {
    animation: sqeeze .4s forwards;
}

@keyframes glow {
    from {
        text-shadow: 0 0 0px white;
    }
    to {
        text-shadow: 0 0 10px white;
    }
}

// bigger size to normal size
@keyframes scale-bigger-to-normal {
    from{
        transform: scale(1.2,1.2);
    }
    to{
        transform: scale(1,1);
    }
}

// smaller size to normal size
@keyframes scale-smaller-to-normal {
    from{
        transform: scale(.8,.8);
    }
    to{
        transform: scale(1,1);
    }
}

// normal size to smaller size
@keyframes scale-normal-to-smaller {
    from{
        transform: scale(1,1);
    }
    to{
        transform: scale(.8,.8);
    }
}

//////////////////////////////////////// Translates animations //////////////////////////////////////////

// translate bottom
@keyframes translate-bottom {
    from {
        transform: translateY(-20px);
    }
    to {
        transform: translateY(0px);
    }
}
@mixin translate-bottom($speed:0.3) {
    animation: translate-bottom #{$speed}s forwards, fade-in #{$speed}s forwards;
}

// translate right
@keyframes translate-right {
    from {
        transform: translateX(-100%);
    }
    to {
        transform: translateX(0);
    }
}
@mixin translate-right($speed:0.3) {
    animation: translate-right #{$speed}s forwards, fade-in #{$speed}s forwards;
}

// translate left
@keyframes translate-left {
    from {
        transform: translateX(100%);
    }
    to {
        transform: translateX(0);
    }
}
@mixin translate-left($speed:0.3) {
    animation: translate-left #{$speed}s forwards, fade-in #{$speed}s forwards;
}