
/**
 * @provide effects
 * @require imports
 */

//////////////////////////////////////// Fade animations //////////////////////////////////////////

// hide
@include keyframes(fade-out) {
    from{
        opacity: 1;
    }
    to{
        opacity: 0;
    }
}
.fade-out {
    @include animation(fade-out 1s forwards);
}


// show
@include keyframes(fade-in) {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}
.fade-in {
    @include animation(fade-in .3s forwards);
}

//////////////////////////////////////// Scale animations //////////////////////////////////////////

// squeeze
@include keyframes(squeeze) {
    from{
        @include scale(1,1);
    }
    to{
        @include scale(1.1,1);
    }
}

@include keyframes(glow) {
    from {
        text-shadow: 0 0 0px white;
    }
    to {
        text-shadow: 0 0 20px white;
    }
}
@mixin squeeze-and-glow($speed: 0.3){
    @include animation(squeeze #{$speed}s forwards, glow #{$speed}s forwards);
}

// bigger size to normal size
@include keyframes(scale-top-to-bottom) {
    from{
        @include transform(scale(1.2,1.2));
    }
    to{
        @include transform(scale(1,1));
    }
}
@mixin scale-top-to-bottom($speed) {
    @include animation(scale-top-to-bottom #{$speed}s forwards, fade-in #{$speed}s forwards);
}

// lower size to normal size
@include keyframes(scale-bottom-to-top) {
    from{
        @include transform(scale(.8,.8));
    }
    to{
        @include transform(scale(1,1));
    }
}
@mixin scale-bottom-to-top($speed) {
    @include animation(scale-bottom-to-top #{$speed}s forwards, fade-in #{$speed*1.2}s forwards);
}

//////////////////////////////////////// Translates animations //////////////////////////////////////////

// translate bottom
@include keyframes(translate-bottom){
    from {
        @include transform(translateY(-20px));
    }
    to {
        @include transform(translateY(0px));
    }
}
@mixin translate-bottom($speed) {
    @include animation(translate-bottom #{$speed}s forwards, fade-in #{$speed}s forwards);
}

// translate right
@include keyframes(translate-right){
    from {
        @include transform(translateX(-100%));
    }
    to {
        @include transform(translateX(0));
    }
}
@mixin translate-right($speed) {
    @include animation(translate-right #{$speed}s forwards, fade-in #{$speed}s forwards);
}

// translate left
@include keyframes(translate-left){
    from {
        @include transform(translateX(100%));
    }
    to {
        @include transform(translateX(0));
    }
}
@mixin translate-left($speed) {
    @include animation(translate-left #{$speed}s forwards, fade-in #{$speed}s forwards);
}