/**
 * @provide vars
 */

/**
 * @var
 * Background color.
 */
$background : #424242;
/**
 * @var
 * Dark background color.
 */
$darkBackground : #212121;
/**
 * @var
 * Orange color.
 */
$orange: #ff8000;
// $red: #ba4234; // jolie mais un peu fade
/**
 * @var
 * Red color.
 */
$red: #e23343;
/**
 * @var
 * Flashy red color.
 */
$redActive: #d44a3b;
/**
 * @var
 * Green color.
 */
$green: #29c14e;
/**
 * @var
 * Blue color.
 */
$blue: #6699ff;

// flashy colors
// $orange: #f04c00; // hypnotic orange
// $red: #be1922;
// $redActive: #d11b24; // hypnotic red

/**
 * @var
 * Text color.
 */
$textColor: #DDD;
/**
 * @var
 * Soft white color.
 */
$softWhite: #DDD;
/**
 * @var
 * Soft black color.
 */
$softBlack: #333;
/**
 * @var
 * Selected item background color.
 */
$selected: #EEE;
/**
 * @var
 * Default padding.
 */
$padding: .5rem;
/**
 * @var
 * Default margin.
 */
$margin: 2%;
/**
 * @var
 * Header bar height.
 */
$headerHeight: 6 * $padding;
$iOS7HeaderHeight: $headerHeight + 2 * $padding;