/**
 * @provide vars
 */

// dark backgrounds
$background : #424242;
$darkBackground : #212121;

// normal colors
$orange: #ff8000;
// $red: #ba4234; // jolie mais un peu fade
$red: #e23343;
$redActive: #d44a3b;
$green: #29c14e;

// flashy colors
// $orange: #f04c00; // hypnotic orange
// $red: #be1922;
// $redActive: #d11b24; // hypnotic red

// text
$textColor: white;
$softWhite: #DDD;
$softBlack: #333;

$selected: #666666;

// sizing: common
$padding: .5rem;
$margin: 2%;

// sizing: headers
$headerHeight: 6 * $padding;