/**
 * @provide vars
 */

// dark backgrounds
$background : #424242;
$darkBackground : #212121;

// normal colors
$orange: #ff8000;
// $red: #ba4234; // jolie mais un peu fade
$red: #e23343;
$redActive: #d44a3b;

// flashy colors
// $orange: #f04c00; // hypnotic orange
// $red: #be1922;
// $redActive: #d11b24; // hypnotic red

// text
$textColor: white;
$softWhite: rgba(white,.5);

// cell
$cellPressed: rgba(130, 170, 209, 0.5);

// sizing: common
$padding: .5rem;
$margin: 4%;

// sizing: headers
$headerHeight: 6 * $padding;