/**
 * @provide normalize
 * @require vars
 */

/*
 * The page should take 100% of the viewport even if smaller.
 */
body {
    min-height: 100%;
}

p {
    padding: $padding 0;
}

li{
    list-style: none;
}

a {
    text-decoration: none;
}

input, textarea {
    user-select: text;
    -webkit-appearance: none;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    user-select: none;
}