/**
 * @provide vars
 */

/**
 * Colors
 */
$background : #424242;
$darkBackground : #212121;
$orange: #ff8000;
$red: #e23343;
$redActive: #d44a3b;
$green: #29c14e;
$pink: #C9275E;
$blue: #6699ff;
$darkBlue: #0074D9;
$textColor: #EEE;
$softWhite: #EEE;
$softBlack: #333;
$selected: rgba($blue,.3);
/**
 * @var
 * Default padding.
 */
$padding: .5rem;
/**
 * @var
 * Default margin.
 */
$margin: 2*$padding;
/**
 * @var
 * Header bar height.
 */
$headerHeight: 3 * $margin;
/**
 * @var
 * Header bar height for iOS7.
 */
$iOS7HeaderHeight: $headerHeight + 1rem;