
* {
	@include vendorize(box-sizing, border-box);
	-webkit-touch-callout: none;
	-webkit-user-select: none; /* Disable selection/Copy of UIWebView */
}

input[type=text] {
	-webkit-touch-callout: default;
	-webkit-user-select: auto; 
}

img {
	max-width: 100%;
	// height: auto !important;
	height: auto;
}

a {
	text-decoration: none;
	color: $softBlack;
	cursor: pointer;
}
